.coming-soon p{font-size:18px}
.mainbodytag{font-family:Arial,sans-serif;background-color:#fff;margin:0;display:flex;flex-flow:column;justify-content:space-around;height:100vh;color:#333;text-align:center;padding:20px}
.coming-soon-a{display:inline-block;padding:10px 20px;font-size:16px;background:#0073aa;color:#fff;text-decoration:none;border-radius:4px}
.coming-soon-a:hover{background:#005f8d}
.coming-soon img,.coming-soon p{margin-bottom:20px}
footer{display:none!important}
