.mw-plugin-bg-icon { display: inline-block;background-image: url("assets/images/milesweb.svg");background-size: cover;background-position: center; width: 20px; height: 20px;margin-right: 10px;vertical-align: middle;}
.milesweb-toggle{position:relative;display:inline-block;width:60px;height:34px} 
.milesweb-toggle input{opacity:0;width:0;height:0} 
.milesweb-slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;transition:.4s;border-radius:34px} 
.milesweb-slider:before{position:absolute;content:"";height:26px;width:26px;left:4px;bottom:4px;background-color:#fff;transition:.4s;border-radius:50%} 
input:checked+.milesweb-slider{background-color:#4caf50} 
input:checked+.milesweb-slider:before{transform:translateX(26px)} 
#myChart {max-width: 300px;margin: 5px auto;display: block;}

.mw-container,.mw-container-fluid{margin-left:auto;margin-right:auto} 
.mw-container,.mw-container-fluid,.mw-row{width:100%} 
.mw-container{max-width:1140px} 
.mw-justify-content-center{justify-content:center} 
.mw-justify-content-space-between{justify-content:space-between} 
.mw-align-items-center{align-items:center} 
.d-flex{display:flex;}
.flex-1{flex:1}
.pt-22{padding-top:22px}
.pt-10{padding-top:10px}
.img-fluid{max-width:100%;height:auto;}
.m-0{margin:0 !important}
.mw-h3{font-size:22px;font-weight:600;padding-bottom:10px;padding-top:12px;margin:0;line-height:1.2}
.av-scr-h4{font-size:14px;font-weight:600;padding-bottom:6px;margin:0!important;display:inline-block}
.pr-10{padding-right:10px;}
.pl-10{padding-left:10px;}
.av-setting-h3 {
    margin: 0;
    padding: 16px 0 16px;
}
.av-link-overflow{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
@media(max-width:1200px){
    .milesweb-toggle{
        width: 48px;
        height: 24px;
    }
    .milesweb-slider:before{
        height: 16px;
    width: 16px;
    }
    .av-setting-h3{    padding: 16px 0 6px;width:100%;}
}
@media(max-width:768px){.pt-md-24{padding-top:24px}
.milesweb-toggle{
    width: 34px;
    height: 20px;
}
.milesweb-slider:before{
    height: 12px;
    width: 12px;
}
.av-setting-h3{    padding: 16px 0 0px;}

}
@media (max-width:576px){.mw-container{padding-left:8px;padding-right:8px}#myChart{max-width:220px;}.mw-h3{font-size:18px;}}
.mw-col{width:100%} 
.mw-col,.mw-col-1,.mw-col-10,.mw-col-11,.mw-col-12,.mw-col-2,.mw-col-3,.mw-col-4,.mw-col-5,.mw-col-6,.mw-col-7,.mw-col-8,.mw-col-9{position:relative} 
.mw-row{flex-wrap:wrap} 
.mw-flex-wrap{flex-wrap:wrap} 
.mw-flex,.mw-row{display:flex} 
.mw-flex-flow-column{display:flex;flex-direction:column} 
.mw-flex-flow-row{display:flex;flex-direction:row} 
.mw-col-1{width:8.33%} 
.mw-col-2{width:16.66%} 
.mw-col-3{width:25%} 
.mw-col-4{width:33.33%} 
.mw-col-5{width:41.66%} 
.mw-col-6{width:50%} 
.mw-col-7{width:58.33%} 
.mw-col-8{width:66.66%} 
.mw-col-9{width:75%} 
.mw-col-10{width:83.33%} 
.mw-col-11{width:91.66%} 
.mw-col-12{width:100%} 
@media (min-width:576px){.mw-col-sm-1{width:8.33%} 
.mw-col-sm-2{width:16.66%} 
.mw-col-sm-3{width:25%} 
.mw-col-sm-4{width:33.33%} 
.mw-col-sm-5{width:41.66%} 
.mw-col-sm-6{width:50%} 
.mw-col-sm-7{width:58.33%} 
.mw-col-sm-8{width:66.66%} 
.mw-col-sm-9{width:75%} 
.mw-col-sm-10{width:83.33%} 
.mw-col-sm-11{width:91.66%} 
.mw-col-sm-12{width:100%} 
.mw-sm-flex-flow-column{display:flex;flex-direction:column} 
.mw-sm-flex-flow-row{display:flex;flex-direction:row} 
} 
@media (min-width:768px){.mw-col-md-1{width:8.33%} 
.mw-col-md-2{width:16.66%} 
.mw-col-md-3{width:25%} 
.mw-col-md-4{width:33.33%} 
.mw-col-md-5{width:41.66%} 
.mw-col-md-6{width:50%} 
.mw-col-md-7{width:58.33%} 
.mw-col-md-8{width:66.66%} 
.mw-col-md-9{width:75%} 
.mw-col-md-10{width:83.33%} 
.mw-col-md-11{width:91.66%} 
.mw-col-md-12{width:100%} 
.mw-md-flex-flow-column{display:flex;flex-direction:column} 
.mw-md-flex-flow-row{display:flex;flex-direction:row} 
} 
@media (min-width:992px){.mw-col-lg-1{width:8.33%} 
.mw-col-lg-2{width:16.66%} 
.mw-col-lg-3{width:25%} 
.mw-col-lg-4{width:33.33%} 
.mw-col-lg-5{width:41.66%} 
.mw-col-lg-6{width:50%} 
.mw-col-lg-7{width:58.33%} 
.mw-col-lg-8{width:66.66%} 
.mw-col-lg-9{width:75%} 
.mw-col-lg-10{width:83.33%} 
.mw-col-lg-11{width:91.66%} 
.mw-col-lg-12{width:100%} 
.mw-lg-flex-flow-column{display:flex;flex-direction:column} 
.mw-lg-flex-flow-row{display:flex;flex-direction:row} 
} 
@media (min-width:1200px){.mw-col-xl-1{width:8.33%} 
.mw-col-xl-2{width:16.66%} 
.mw-col-xl-3{width:25%} 
.mw-col-xl-4{width:33.33%} 
.mw-col-xl-5{width:41.66%} 
.mw-col-xl-6{width:50%} 
.mw-col-xl-7{width:58.33%} 
.mw-col-xl-8{width:66.66%} 
.mw-col-xl-9{width:75%} 
.mw-col-xl-10{width:83.33%} 
.mw-col-xl-11{width:91.66%} 
.mw-col-xl-12{width:100%} 
.mw-xl-flex-flow-column{display:flex;flex-direction:column} 
.mw-xl-flex-flow-row{display:flex;flex-direction:row} 
} 
.mw-h1,.mw-h2,.mw-h3,.mw-h4,.mw-h5,.mw-h6{margin-top:0;margin-bottom:.5rem} 
.mw-p{margin-bottom:1rem} 
.mw-text-center{text-align:center} 
.mw-text-left{text-align:left} 
.mw-text-right{text-align:right} 
.mw-d-none{display:none} 
.mw-d-block{display:block} 
@media (min-width:576px){.mw-d-sm-block{display:block} 
} 
@media (min-width:768px){.mw-d-md-block{display:block} 
} 
@media (min-width:992px){.mw-d-lg-block{display:block} 
} 
.mw-m-0{margin:0} 
.mw-mt-0{margin-top:0} 
.mw-mb-0{margin-bottom:0} 
.mw-ml-0{margin-left:0} 
.mw-mr-0{margin-right:0} 
.mw-p-0{padding:0} 
@media (min-width:576px){.mw-p-sm-3{padding:1rem} 
} 
@media (min-width:768px){.mw-p-md-4{padding:1.5rem} 
} 
@media (min-width:992px){.mw-p-lg-5{padding:3rem} 
} 
.mw-card{border-radius:10px;background:#fff;padding:20px;margin:12px} 
.mw-table-cell{padding:10px;border-bottom:1px solid #f1f1f1;flex:1} 
.mw-php-card{padding: 20px 20px 55px 20px;}.mw-version{color: #007fff;background: #007fff2e;padding: 2px 7px;border-radius: 5px;font-size:18px;}
.av-version-box{align-content:center}
.av-version-php{border-top:1px solid #f1f1f1;margin-top:10px}
.av-screenshot{border:1px solid #f0f0f1}

@media(max-width:568px){.mw-overflow-md{overflow: auto;}
}
